* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.top-bar {
    background-color: whitesmoke;
    display: flex;
    align-items: center; /* alinha verticalmente */
    width: 100vw;
    justify-content: space-between;
    padding-left: 15em;
    padding-right: 5em;
    position: fixed;
    height: 10vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: 10em;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 20em;
}

.menu a {
    color: rgb(21, 199, 21);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px; /* aumenta o tamanho */
  }

.icone-seta {
    width: 10px; /* ajuste o tamanho conforme sua imagem */
    height: auto;
}

  .home {
    background-color: #c0f5cd;
    padding-top: 15vh;
    padding-bottom: 4em;
  }

  .home button {
    cursor: pointer;      /* mostra a "mãozinha" ao passar o mouse */
    pointer-events: auto; /* garante que o botão receba eventos do mouse */
    margin-left: 18em;
    background-color: transparent; /* Fundo transparente, sem cor de fundo */
    padding: 15px 20px;            /* Mesmo espaçamento interno que o botão roxo */
    border-radius: 20px;           /* Bordas arredondadas iguais ao botão roxo */
  }

  #homes {
    display: flex;
    justify-content: space-evenly; /* Centraliza sem separar demais */
    align-items: center;
    
  }

  #homes .texto {
    width: 30em;
    text-align: left;
  }

  #homes .texto h2 {
    font-size: 50px;         /* Tamanho maior para título */
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  #imagemhome {
    width: 20em; /* ocupa bem o espaço */
    }

  #branco {
    color: #333;
    padding-top: 2em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secao-branca {
    display: flex;
    gap: 8em;
    padding: 4em 1em;
  }

  .secao-branca div {
    flex: 1;
    min-width: 350px;
    max-width: 600px;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #c0f5cd;
  }
  
  .secao-branca h3 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 0.5em; 
    font-weight: 600;
  }
  
  .secao-branca p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin-top: 0;
  }