* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  .home {
    background-color: #c0f5cd;
    padding-top: 15vh;
    padding-bottom: 4em;
  }

  .home button {
    cursor: pointer;      /* mostra a "mãozinha" ao passar o mouse */
    pointer-events: auto; /* garante que o botão receba eventos do mouse */
    background-color: transparent; /* Fundo transparente, sem cor de fundo */
    padding: 15px 20px;            /* Mesmo espaçamento interno que o botão roxo */
    border-radius: 20px;           /* Bordas arredondadas iguais ao botão roxo */
    margin-top: 1.5rem;
  }

  #homes {
    display: flex;
    justify-content: space-evenly; /* Centraliza sem separar demais */
  }

  #homes .home-texto {
    color: #555;
    width: 30em;
    text-align: left;
  }

  #homes .home-texto h2 {
    font-size: 50px;         /* Tamanho maior para título */
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  #imagemhome {
    width: 20em; /* ocupa bem o espaço */
    }

  #branco {
    color: #333;
    padding-top: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secao-branca {
    display: flex;
    gap: 5em;
    padding: 4em 1em;
  }

  .secao-branca div {
    flex: 1;
    min-width: 350px;
    max-width: 600px;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #c0f5cd;
  }
  
  .secao-branca h3 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 0.5em; 
    font-weight: 600;
  }
  
  .secao-branca p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin-top: 0;
  }

  .secao-verde {
    background-color: #c0f5cd;
    display: flex;
    justify-content: space-evenly; /* Centraliza sem separar demais */
    align-items: center;
    gap: 4em;
    padding: 4em 7em;
  }

  .texto-verde {
    width: 40em;
    text-align: left;
  }

  .texto-verde h2 {
    font-size: 30px;         /* Tamanho maior para título */
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .texto-verde p {
    color: #555;
  }

  #floripa {
    width: 30em;
    border-radius: 12px;
  }

  footer {
  padding: 1.5rem;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }