.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10rem;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #login-image {
    max-width: 100%;
    max-width: 700px;
    height: auto;
  }

  .login-formulario {
    flex: 1 1 150px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-formulario h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #0a621f;
    text-align: center;
  }
  
  .login-formulario form {
    display: flex;
    flex-direction: column;
  }
  
  .login-formulario label {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-weight: 500;
    color: #444;
  }
  
  .login-formulario input {
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .login-formulario button {
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .login-formulario button:hover {
    background-color: #218838;
  }
  
  .login-formulario p {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.95rem;
    color: #666;
  }
  
  .login-formulario p a {
    color: #28a745;
    font-weight: 600;
    text-decoration: none;
    margin-left: 4px;
  }