<div class="top-bar">
  <a href="/pages/index.html">
    <img src="/images/home/logo.png" alt="Logo" class="logo" />
  </a>
  <nav class="menu" id="menuLinks">
    <a href="/pages/map/map.html">Map <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/pages/pagamento/pagamento.html">Pagamento <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/pages/register/register.html">Registre-se <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/pages/login/login.html">Login <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
  </nav>
</div>
