<div class="top-bar">
  <a href="/">
    <img src="/images/home/logo.png" alt="Logo" class="logo" />
  </a>
  <nav class="menu" id="menuLinks">
    <a href="/map">Map <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/pagamento">Pagamento <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/register">Registre-se <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
    <a href="/login">Login <img src="/images/topbarimages/seta-para-baixo.png" alt="seta" class="icone-seta"></a>
  </nav>
</div>
