main {
  padding-top: 12vh; /* ou 8vh, dependendo da altura da sua topbar */
}

#map {
  height: 85vh;
  width: 100%;
  max-width: 95%;
  margin: 0 auto 2rem auto; /* top = 0, bottom = 2rem */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}