* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.top-bar {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding-left: 15em;
    padding-right: 5em;
    position: fixed;
    height: 10vh;
    z-index: 999;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: 10em;
}

.menu {
    display: flex;
    gap: 2em;
    margin-left: auto;
    margin-right: 2em;
}

.menu a {
    color: rgb(21, 199, 21);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }

.icone-seta {
    width: 10px;
    height: auto;
}

.perfil-usuario {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1em;
}

.perfil-container {
  position: relative;
  margin-left: 1em;
}

.perfil-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 120%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  min-width: 120px;
}

.perfil-dropdown a {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.perfil-dropdown a:hover {
  background-color: #f0f0f0;
}

.perfil-dropdown.show {
  display: block;
}
